extends ../layout.pug 

block content
    h1 Présentation du film !

    div(style="background-image: url('https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces"+movie.backdrop_path+"');")
        h2 #{movie.title}
        br
        p #{movie.overview}
        br
        form(method="post")
            button(type="submit") Enregistrer ce film
