.hideBeforeIntro { display:none; }
#resultMovies {   
    user-select: none; 
    height: 320px;
    overflow:auto;
    margin: 20px auto;
    overflow-x: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top:60px;
    white-space: nowrap; /* Empêche le retour à la ligne des éléments li */
}
  
/* Couleur de fond de la scrollbar */
#resultMovies::-webkit-scrollbar {
    height:5px;
    width: 10px;
    background-color: #f5f5f5;
}

/* Styles de la poignée (thumb) de la scrollbar */
#resultMovies::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

/* Styles lorsque la poignée est survolée */
#resultMovies::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Styles des boutons de la scrollbar (haut/bas) */
#resultMovies::-webkit-scrollbar-button {
    display: none;
}

#resultMovies li {
    position: relative;
    display: inline-block;
    margin: 10px;
    width: 210px;
    list-style: none;
    text-align: center;
}

#resultMovies li a, #resultMovies li  a:hover{
    color: #ffffff;
    text-decoration: none;
}
  
#resultMovies li img {
    width: 150px; 
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: block;
    margin:auto;
}


#resultMovies li span.title {
    margin-top: 5px;
    font-weight: bold;
    font-size: 1em;
    margin: 0;
    width: 100%;
    display: inline-block; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#resultMovies li span.release {
    display: block;
    margin-top: 5px; /* Espace entre le titre et l'année */
    color: #666; /* Couleur du texte de l'année */
}
  
  
#resultMovies li span.notation {
    position: absolute;
    bottom: 65px;
    right: 15px;
    background-color: white; /* Fond blanc pour la notation */
    padding: 5px; /* Espace à l'intérieur du bloc blanc */
    border-radius: 5px;
}
.star-on {
    font-size: 12px;
    line-height: 20px;
    vertical-align:middle;
}
.star-off {
    font-weight: bold;
    font-size: 18px;
    color: #000000;
    line-height: 20px;
    vertical-align:middle;
}

/** PRESENTATION FILM **/
#prezMovie {
    height:800px;
    background: linear-gradient(to right, rgba(10.5, 31.5, 52.5, 1) calc((50vw - 170px) - 340px), rgba(10.5, 31.5, 52.5, 0.84) 50%, rgba(10.5, 31.5, 52.5, 0.84) 100%);
    background-size: cover;
    color:#ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#prezMovie h2 {
    font-weight: 700;
}
#prezMovie span.tagline {
    font-size: 1.1em;
    font-weight: 400;
    font-style: italic;
}
#slideMovie {
    background: linear-gradient(to right, rgba(10.5, 31.5, 52.5, 1) calc((50vw - 170px) - 340px), rgba(10.5, 31.5, 52.5, 0.84) 50%, rgba(10.5, 31.5, 52.5, 0.84) 100%);
}
  
.block-inline {
    display:inline-block;
}
#prezMovie img {
    width: 300px;
    margin-bottom: 10px; /* Espacement entre l'image et le titre */
}

#prezMovie h4.synopsis {
    margin-top: 20px;
}
#prezMovie span.sep { margin: 0 5px; }